  <!--* Footer Section -->

  <footer class="footer">
    <div class="left">
      <h1> &copy; Café Management System</h1>
    </div>
    <div class="right">
      <a href="/" class="footer-links">Home</a>
      <a href="/customer" class="footer-links">Team</a>
      <a href="https://github.com/BharathxD" target="_blank" class="footer-links">Github</a>
      <a href="https://github.com/BharathxD/Cafe-Management-System" target="_blank" class="footer-links">Contribute</a>
    </div>
  </footer>

  <!--! ----------- -->

  <!--* Script Tags -->

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
  </script>

  <script src="/js/index.js"></script>

  <!--! ----------- -->

  </body>

  </html>