<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="position:fixed; min-height:100%;">
  <body>
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="dashboard-links" style="text-decoration: none;" aria-current="page" href="/">
            <i class="bi bi-layers-fill"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="dashboard-links" style="text-decoration: none;" href="/item">
            <i class="fa-solid fa-utensils"></i>
            Appetizers
          </a>
        </li>
        <li class="nav-item">
          <a class="dashboard-links" style="text-decoration: none;" href="/chefs">
            <i class="fa-solid fa-chess-queen"></i>
            <div style="margin-left: -3px;">Chef-de-Cuisine</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="dashboard-links" style="text-decoration: none;" href="/ourteam">
            <i class="fa-solid fa-people-group" style="margin-left: -1px;"></i>
            <div style="margin-left: -5px;">Crew</div>
          </a>
        </li>
      </ul>
    </div>
</nav>