<%- include("partials/NavbarDashboard"); -%>
<div class="container-fluid scrollw">
    <div class="row dashboard">
      <%- include("partials/sidebarMenu"); -%>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 transition-fade" id="swup">
        <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Appetizers</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a type="button" class="btn btn-outline-danger" href="/newappetizer">
            À-la-carte&ensp;<i class="bi bi-egg-fried"></i>
          </a>
          </div>
        </div>
        <table>
            <thead class="thead">
              <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Availability</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
              </thead>
                <tbody>
                  <tr class="tr">
                    <td>FL-186</td>
                    <td>The French Laundry</td>
                    <td>Available <i class="fa-solid fa-circle" style="color: green;font-size: 0.9rem;"></i></td>
                    <td style="font-size: 1rem;"><i class="fa-solid fa-indian-rupee-sign" style="font-size: 0.8rem;"></i> 999</td>
                    <td>
                      <button type="button" class="btn btn-dark"><i class="bi bi-eye-fill"></i></button>
                      <button type="button" class="btn btn-dark"><i class="bi bi-pencil-square"></i></button>
                      <button type="button" class="btn btn-dark"><i class="bi bi-plus-circle-fill"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
      </main>
    </div>
  </div>
<%- include("partials/footer"); -%>