*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  height: 100%;
  width: 100%;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

*::selection {
  background-color: #eb1d36;
  color: #fff;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  background-color: #fbf8f1;
  padding-bottom: 75px;
  animation: fadein 0.4s ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  overflow-y: scroll !important;
}

nav {
  background-color: #faecc9 !important;
}

.header-top {
  background-color: #2b2425;
  padding: 5px !important;
  height: 68px !important;
  position: sticky;
  width: 100%;
}

.search-input {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  height: 50px;
}

.search-btn {
  color: rgb(220, 220, 220, 0.7);
  border: none;
}

.navbar-form {
  width: 100%;
  display: flex;
}

.search-btn:hover {
  color: #fff;
}

.navbar-btn {
  background-color: #564b4c;
  color: #fff;
  height: 50px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 78.8px;
  width: 100%;
  background-color: #2b2425;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
}

.footer-links {
  color: #fff !important;
  text-decoration: none;
}

.footer-links:hover {
  border-bottom: 1px solid #fff;
}

.footer .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.footer .left h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #564b4c;
}

.dashboard-logo {
  text-align: center;
}

.dashboard {
  height: 90vh;
}

.dashboard-links {
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #fbf8f1;
  color: #2b2425;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dashboard-links i {
  margin-right: 13px !important;
}

.dashboard-links:hover {
  color: #fa9494 !important;
}

.subtotal {
  color: #fff;
  font-size: 1.1rem;
  padding: 8px;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 10px;
}

table {
  background-color: #fff6e3;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.tr td {
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
}

td button {
  border-radius: 25% !important;
}

thead tr {
  height: 60px;
  background: #fff4b8;
  font-size: 16px;
}

thead {
  border-radius: 10px;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.account-dropdown {
  background-color: #fbf8f1;
  padding: 10px;
  border-radius: 5px;
}

.avail-check {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.avail {
  width: 100% !important;
}

.order-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.item-name,
.item-price {
  background-color: #564b4c;
  border-radius: 20px;
  padding: 20px;
  color: #fbf8f1;
}

.chef-name {
  background-color: #2b2425 !important;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  border-radius: 25px;
}

.chef-name label {
  margin-bottom: 20px;
}

.chef-prescription {
  background-color: #2b2425 !important;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  border-radius: 25px;
}

.export-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-order-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 40px;
  background-color: #2b2425;
  color: #fff;
  border-radius: 25px;
  margin-top: 25px;
}

.detail {
  border: 2px solid #564b4c;
  background-color: #faecc9;
  color: #2b2425;
  padding: 20px;
  border-radius: 25px;
}

.detail:hover {
  background-color: #2b2425;
  transition: 0.25s linear;
  color: #faecc9 !important;
}

.sub-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail a {
  color: #2b2425;
}

.detail a:hover {
  color: #faecc9;
}

.total-number {
  color: #ff495e;
}

.bottom-subtotal {
  border-radius: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.bottom-subtotal .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #473434;
  color: #fff6e3;
  border: 2px solid #fff6e3;
  padding: 16px;
  border-radius: 20px;
}

.bottom-subtotal .container:hover {
  background-color: #fff6e3;
  transition: 0.4s ease-in-out;
  color: #473434;
  border-radius: 20px;
}

.bottom-subtotal h1,
h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.bottom-subtotal .left p {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.dotted {
  margin: 0;
  width: 20%;
  border-top: 2px dotted #faecc9;
  color: #fff !important;
}

.percent {
  color: #ff495e;
}

.detail a {
  color: #2b2425;
}

.detail a:hover {
  color: #faecc9;
}

.dropdown-signout {
  color: #2b2425;
  background-color: #fffbf1;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.dropdown-signout a {
  text-decoration: none;
  background-color: #fff6e3;
  padding: 5px;
  border-radius: 10px;
}

.signout-btn {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin-bottom: 0 !important;
  font-size: 1.125rem;
  width: 50px;
  color: #2b2425;
}

.login-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  width: 100% !important;
  position: relative;
}

.login-bg {
  background-image: radial-gradient(#f4f4f4 2px, transparent 2px),
    radial-gradient(#f4f4f4 2px, transparent 2px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  background-color: #2b2425;
  height: 100%;
  width: 100%;
  position: absolute;
}

.login-main {
  width: 100%;
  height: calc(100vh - 68px - 78.8px) !important;
  padding: 0 !important;
}

.form-container {
  width: 400px;
  z-index: 1;
  position: relative;
  background-color: #fff6e3;
  border-radius: 25px;
  padding: 20px;
  height: max-content;
}

.signin-header {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 10px;
}

.login-btn {
  margin-bottom: 0;
  background-color: #2b2425;
  color: #fff6e3;
}

.register-btn {
  margin-top: 10px;
  background-color: #564b4c;
}

.login-btn:hover {
  outline: 2px solid #2b2425 !important;
}

/** Orders **/

.orders-page {
  padding: 20px;
}

.main-container {
  height: max-content;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 68px;
}

.main-container .container {
  background-color: #2b2425;
  border-radius: 25px;
  border: 1.5px solid rgba(255, 255, 255, 0.18);
}

.orders-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: max-content;
}

.main-container .container-top {
  background-color: #473434;
  padding: 20px;
  border-radius: 15px;
  color: #f4f4f4;
}

.main-container .middle,
.bottom {
  height: max-content;
  margin-top: 10px;
}

.main-container .middle,
.bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.customer-details-input div label {
  color: #f4f4f4;
  font-weight: 500;
}

.customer-details-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.customer-details-header h5 {
  color: #f4f4f4;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.dashboard-thead tr {
  background-color: #2b2425;
  color: #f4f4f4;
  font-style: italic;
}

.dashboard-tr td {
  padding: 10px;
  color: #000;
}

.place-order-container {
  display: grid;
  margin-top: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.customer-container,
.payment-container {
  background-color: #473434;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  color: #f4f4f4;
}

.sub-heading-order {
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.pay-btn {
  width: 100%;
  margin-top: 20px;
  height: 45px;
}

.add-new-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-btns {
  display: grid;
  grid-template-columns: 1fr 0.01fr 1fr;
  gap: 10px;
}

.or-bt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.order-status-container {
  border: 2px solid #2b2425;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-status-container h5 {
  margin: 0;
  font-weight: 600;
}

/*! ---- Toast ---- */

#toast-bar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: rgba(43, 36, 37, 0.567);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 85px;
  border-radius: 7.5px;
  -moz-box-shadow: -1px 14px 36px -26px rgba(181, 181, 181, 1);
  box-shadow: -1px 14px 36px -26px rgba(181, 181, 181, 1);
}

#toast-bar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 85px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 85px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 85px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 85px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.error-container {
  margin: 25px;
  border-radius: 25px;
  background-color: #564b4c;
  color: #f4f4f4;
  padding: 15px;
}

.error-container p {
  border-radius: 15px;
}

.error-container pre, .error-container p {
  background-color: #473434;
  padding: 10px;
  border-radius: 20px;
  margin: 0;
  margin-top: 10px;
}

/*! ---- Toast ---- */

/* ******** */

@media screen and (max-width: 768px) {
  .footer {
    min-height: 95px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .footer .left h1 {
    font-size: 1.25rem;
  }
  .footer .left {
    justify-content: center;
    align-items: center;
  }
  .footer .right {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .bottom-subtotal {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .thead tr th:nth-child(1) {
    display: none;
  }
  .tr td:nth-child(1) {
    display: none;
  }
  .tr td {
    font: 0.8rem;
  }
  td a {
    margin-bottom: 10px;
  }
  .header-top {
    display: flex;
    align-items: flex-end;
  }
  .search-input {
    display: none;
  }
  .place-order-container {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}