<%- include("../partials/NavbarDashboard"); -%>


    <div class="container-fluid scroll">
        <div class="row dashboard">
            <%- include("../partials/sidebarMenu"); -%>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 transition-fade" id="swup">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Edit</h1>
                    </div>
                    <form class="needs-validation" action="/newuser" method="post">
                        <div class="row g-3">
                          <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" required autocomplete="off" placeholder="First Name">
                            <div class="invalid-feedback">
                              Valid first name is required.
                            </div>
                          </div>
              
                          <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required autocomplete="off" placeholder="Last Name">
                            <div class="invalid-feedback">
                              Valid last name is required.
                            </div>
                          </div>

                          <div class="col-sm-6">
                            <label for="firstName" class="form-label">Mobile Number</label>
                            <input type="tel" class="form-control" id="firstName" name="mobileNumber" required  autocomplete="off" pattern="[0-9]{10}" placeholder="123-456-7890">
                            <div class="invalid-feedback">
                              Valid mobile number is required.
                            </div>
                          </div>
              
                          <div class="col-sm-6">
                            <label for="lastName" class="form-label">College ID</label>
                            <input type="tel" pattern="[0-9]{10}" class="form-control" id="lastName" name="collegeID" required  autocomplete="off" placeholder="Enter Your 10 Digit ID">
                            <div class="invalid-feedback">
                              Valid college ID is required.
                            </div>
                          </div>
                          

                          <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com"  autocomplete="off" name="emailAddress" required>
                            <div class="invalid-feedback">
                              Please enter a valid email address.
                            </div>
                          </div>
                        
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-danger btn-lg" type="submit">Create a New Entry</button>
                      </form>
                      <%if(status) {%>
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 20px;">
                          <h4 class="alert-heading">Well done</h4>
                          <hr>
                          <p>Head back to <a href="/ourteam" class="alert-link">Crew Page</a></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% } if(error) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 20px;">
                          <h4 class="alert-heading">Uh-Oh</h4>
                          <hr>
                          <p>Couldn't Add the Data, Review the Details and <strong>Try again</strong></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <% } %>
        </div>
        </main>
    </div>
    <%- include("../partials/footer"); -%>